<footer>
    <hr style="margin-top: 1.25rem;"/>
    <div class="f-info">
        <div class="f-info-icons">
            <a href="https://www.linkedin.com/in/purvesh-patil-9817622a5?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8X2oA7LqQbeMpBtujFM%2BMg%3D%3D"><i class="fa-brands fa-linkedin" ></i></a>
            <a href="https://x.com/Purvesh923"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/_purvesh._.patil"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div>&copy; TravelNest Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>
</footer>