<div class="nav">
    <div class="navbar">
        <div class="logo">
            
        </div>
        <div class="opts">
            <a href="/listings">Home</a>
            <a href="/listings/new">Post Your Property</a>
        </div>
        <div class="profile">
            <% if(!currUser){ %>
                <a href="/signup"><b>Sign up</b></a>
                <a href="/login"><b>Log in</b></a>
            <%}%> 
            <% if(currUser){ %>
                <a href="/logout" style="margin-left: 4.5rem;"><b>Log out</b></a>
            <%}%>
            
        </div>
    </div>
    <hr style="margin-bottom: 1.25rem;"/>

</div>
