<div class="nav">
    <div class="navbar">
        <div class="logo">
            
        </div>
        <div class="opts">
            <a href="/">Home</a>
            <a href="/listings">All Listings</a>
            <a href="/listings/new">Add New Listing</a>
        </div>
        <div class="profile">
            <% if(!currUser){ %>
                <a href="/signup">Sign up</a>
                <a href="/login">Log in</a>
            <%}%> 
            <% if(currUser){ %>
                <a href="/logout">Log out</a>
            <%}%>
            
        </div>
    </div>
    <hr style="margin-bottom: 1.25rem;"/>

</div>
