<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <h1 class="loginh1">Login</h1>
    <div style="padding: 1rem;" class="new-content">
        <div>
            <form action="/login" method="POST">
                <div class="title">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" id="username" type="text" class="form-control" required/>
                  </div>

                <div class="title" style="margin-top: 2rem;">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password" type="password" class="form-control" required/>
                  </div>

                  <button class="loginbut">LogIn</button>
            </form>
        </div>
    </div>

  </body>
